<%= form_with(model: user) do |form| %>

    <ul>
    <div class="field">
    <%= form.label :role %>
    <%= form.text_field :adress %>
  </div>
  </ul>
  
 
  
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>